DATABASE_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=
PAYPAL_DONATION_URL=
AUTH_SECRET=
ADMIN_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CRON_SECRET=
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
